@import "normalize";
@import "mixins";
@import "base";
@import "header";
@import "feedback";
@import "product";
@import "sizes";
@import "prepay";

#root {
  width: 100%;
}
.App {
  min-width: $section-desktop-width;
}
/*h1 {

  &:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
	background: url('../images/test.jpg') center/100% no-repeat;
    transform: rotate(-20deg);
    animation: wave .75s infinite linear alternate;
  }
}

@keyframes wave {
  100% {
    transform: rotate(20deg);
  }
}*/

main {
  display: flex;
  padding: 12px 16px 0;
  width: 100%;
  flex-direction: column;
  @include media('tablet-wide') {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.container-left {
  position: relative;
}
.container-left,
.container-right {
  width: $section-width;
  @include horizontal-align;
  @include media('tablet-wide') {
    width: $section-desktop-width;
    margin-left: 0;
    margin-right: 0;
  }
}

.container-right {
  @include media('tablet-wide') {
    margin-left: 45px;
  }
  //@include clearfix;
}
.container-centered {
  width: 100%;
  max-width: 675px;
  position: relative;
  @include horizontal-align;
}
.buttons {
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  //width: 91%;
  width: 100%;
  box-shadow: 0 0 10px 10px $white;
  bottom: 0;
  z-index: 1;
  @include media('tablet-wide') {
    position: static;
    width: 100%;
  }
}
.button {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: $black;
  color: $white;
  @include border-radius(3px);
  height: 48px;
  line-height: 48px;
  padding: 0 3px;
  border: 1px solid $black;
  width: 48%;
  cursor: pointer;
  //@include truncate(48%);
  &.btn-white {
    background-color: $white;
    color: $black;
  }
}

.user-avatar {
  @include center-h-unk;
  width: 30px;
  height: 30px;
  overflow: hidden;
  @include border-radius(50%);
  //border:1px solid $grey;
  cursor: pointer;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.user-container {
  height: 30px;
  position: relative;
  display: flex;
  font-size: 14px;

  &--name {
    line-height: 2;
    @include truncate(100%);
    padding-left: 10px;
  }
}
.one-button {
  width: 100%;
  max-width: 435px;
  @include horizontal-align;
}
.modal {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  padding: 16px;
  z-index: 10;
  @include media('tablet-wide') {
    top:48px;
    height: calc(100vh - 48px);
  }
}
.close-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16px;
  right: 16px;
  background: url('../images/exit-cross-icon.svg') no-repeat center center transparent;
  background-size: contain;
  cursor: pointer;
  display: block;
  z-index: 1;
  @include media('tablet-wide') {
    width: 48px;
    height: 48px;
  }
}.back-icon {
   width: 30px;
   height: 30px;
   position: absolute;
   top: 16px;
   left: 16px;
   background: url('../images/arrow-back-icon.svg') no-repeat center center transparent;
   background-size: contain;
   cursor: pointer;
   @include media('tablet-wide') {
     width: 48px;
     height: 48px;
   }
 }
 .icon-back {
   display: none;
   width: 48px;
   height: 48px;
   background-size: contain;
   background: url("../images/arrow-back-icon.svg");
   position: absolute;
   left: -82px;
   top: 0;
   z-index: 1;
   cursor: pointer;

   @include media('tablet-wide') {
     display: block;
   }
 }
//tmp
.menu-tmp {
  position: absolute;
  top:28px;
  text-align: right;
  font-size: 14px;
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  @include media('tablet-wide') {
    justify-content: flex-start;
  }
  a {
    color: #0073aa;
    text-decoration: none;
    display: block;
    margin: 0 5px;
  }
}
//tmp end
