// Base styles
// ---------------------------------------/
@include register-font('BasisGrotesquePro-Regular');
@include register-font('BasisGrotesquePro-Medium');


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $white;
}

body{
  @include use-registered-font('BasisGrotesquePro-Regular');
  color: $text_color;
  @include font-size(16px);
  line-height: 1.5;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  //align-items: center;
  text-align: center;
}

::selection,
::-moz-selection {
  background: $light-grey;
  color: #fff;
  text-shadow: none;
}
h1 {
  margin: 0 0 26px 0;
  padding: 0;
  font-size: $base-font-size;
  //@include use-registered-font('BasisGrotesquePro-Medium');
  font-weight: bold;
  position: relative;
  width: 100%;
}
p {
  margin-top: 0;
  line-height: 1.5em;
}
a {
  color: $black;
  &:hover,
  &:active {

  }
}
input,
textarea {
  @include input-placeholder {
    color: $light-grey;
  }
  &:focus,
  &:active {
    outline: none;
  }
}
input, textarea, select, button {
  @include use-registered-font('BasisGrotesquePro-Regular');
}
.caption-large {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 8px;
}
.aligned-left {
  text-align: left;
}
.text {
  line-height: 24px;
}
input {
  border: 1px solid $light-grey-border;
  @include border-radius(4px);
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  margin-bottom: 16px;
  width: 100%;
}
[type="checkbox"],
[type="radio"] {
  width: 15px;
  height: 15px;
  border-color: $black;
  margin-right: 8px;
  top: 2px;
  position: relative;
}
