.feedback {
  position: relative;
  .product-image {
    width: 180px;
    margin-bottom: 15px;
    padding-right: 0;
    padding-left: 0;
    @include media('tablet-wide') {
      width: 100%;
      position: absolute;
      top:0;
      left: calc(-100% - 45px);
    }
  }
  @include media('tablet-wide') {
    h1 {
      text-align: left;
      font-size: 20px;
    }
  }
  &.container-right {
    min-height: 448px;
    @include media('tablet-wide') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &--container {
  }
  .buutons {
    width: $section-width;
  }
  .button {
    width: 100%;
  }
  &--images {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
      fill: contain;
    }
  }
  &--img {
    width: 48px;
    height: 48px;
    margin-left: 8px;
    flex: none;
  }
  .btn-camera {
    width: 48px;
    height: 48px;
    margin-left: 12px;
    flex: none;
    position: relative;
    &::after {
      @include pseudo;
      width: 20px;
      height: 15px;
      background: url("../images/camera-icon.svg") no-repeat transparent center center;
      left: 50%;
      @include vertical-align;

    }
  }
  .zoom-icon {
    display: none;
    @include media('tablet-wide') {
      display: block;
    }
  }
  .buttons {
    width: $section-width;
    @include media('tablet-wide') {
      width: $section-desktop-width;
    }
  }
}
.textarea {
  border:1px solid $light-grey-border;
  @include border-radius(16px 16px 4px 16px);
  padding: 10px 15px;
  margin-bottom: 15px;
  resize: none;
  width: 100%;
  height: 96px;
  flex: none;
  @include media('tablet-wide') {
    height: 144px;
  }
}

.feedback-sent {
  text-align: left;

  .button {
    width: 48%;
  }

  .feedback--container {
    .user-avatar {
      margin-bottom: 15px;
      position: relative;
      top:15px;
      margin-left: -30px;
      left: 100%;
    }
  }
}

.feedback-sent--header {
  text-align: center;
  @include media('tablet-wide') {
    text-align: left;
  }
  h1 {
    margin-bottom: 0;
    @include media('tablet-wide') {
      font-size: 16px;
      text-align: left;
    }
  }
}
.feedback-sent--message {
  background-color: $light-grey-bg;

  @include border-radius(16px 16px 4px 16px);
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100%;
  min-height: 96px;
  flex: none;
  @include media('tablet-wide') {
    min-height: 144px;
  }

}

