@import "mixins";
header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid $grey;
  height: 48px;
  position: relative;
  @include media('tablet-wide') {
    justify-content: flex-end;
  }
}
.logo {
  width: 66px;
  height: 18px;
  @include center-h-unk;
  background: url('../images/logo.svg') center/100% no-repeat;
  text-indent: -9999px;
  @include media('tablet-wide') {
    position: absolute;
    left: 50%;
    margin-left: -33px;
  }
}
.header-user {
  max-width:50%;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  @include center-h-unk;
  @include media('tablet-wide') {
    max-width:30%;
  }
  &--name {
    @include truncate(140px);
    @include center-h-unk;
    cursor: pointer;
  }
  &--avatar {
    margin-left: 8px;
  }
}