// Variables
// ---------------------------------------/

$container-width: 980px !default;
$base-font-size: 16px !default;
// Colors
$white: #fff;
$black: #000;
$grey: #f2f2f2;
$light-grey: #919191;
$light-grey-border: #dcdcdc;
$light-grey-bg: #f7f7f7;
$grey-container-border: #e4e4e4;

$section-width: 343px;
$section-desktop-width: 375px;

// Styles
$text_color:        $black;

$table-background-color: $grey;
$border-bottom-color: $grey;
$default-text-color: $light-grey;
$default-border-color: $light-grey-border;

$left-global-margin: 45px;


// Mixins
// ---------------------------------------/
//---------------------------- prefix
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }

  #{$property}: $value;
}
//usage
//@include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');

//-------------------- placeholder
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
//---------------- border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
//------------------- transition
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  transition: $value;
}
//--------------------- pseudo
@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
// usage
//div::after {
//  @include pseudo;
//}
//----------------- Clearfix

@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}
//------------ horizontal align
@mixin horizontal-align {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
}
//----------- vertical align
@mixin vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}
//--------------- Vertically centers block elements with unknown height.

/// @example scss - Usage
///   .foo {
///     @include center-h-unk;
///   }
@mixin center-h-unk {
  position: relative;
  top: 50%;
  @include prefix(transform, translateY(-50%), 'webkit' 'ms');
}


//-------------------
@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// ----------------- media queries

$breakpoints: (
        "phone":        375px,
        "phone-wide":   480px,
        "phablet":      560px,
        "tablet-small": 640px,
        "tablet":       768px,
        "tablet-wide":  1024px,
        "desktop":      1248px,
        "desktop-wide": 1440px
);
@mixin media($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
// usage example
.element {
  // rules
  @include media('tablet-wide') {
    // rules
  }
}

// layout
@mixin item_border {
  border-bottom: 1px solid #c7c7c7;
}

// -------------- fonts

$font_dir: '../fonts/';

/* _simple-font-url('Chunkfive', 'eot'); */
@function _simple-font-url($name, $extension)
{
  @return url($font_dir + $name + '.' + $extension);
}

/* _full-font-url('Chunkfive', 'woff', 'embedded-opentype', '?#iefix'); */
@function _full-font-url($name, $extension, $format, $hash: '')
{
  @return url($font_dir + '/' + $name + '.' + $extension + $hash) format($format);
}

/* register-font('Chunkfive'); */
@mixin register-font($name)
{
  @font-face {
    font-family: $name;
    //font-style: normal;
    //font-weight: normal;
    src: _simple-font-url($name, 'eot');
    src: _full-font-url($name, 'woff', 'embedded-opentype', '?#iefix'),
    _full-font-url($name, 'ttf', 'truetype'),
    _full-font-url($name, 'svg', 'esvg', '?#' + $name);
  }
}

/*
prevent faux bold
http://www.alistapart.com/articles/say-no-to-faux-bold/
use-registered-font('Chunkfive');
*/
@mixin use-registered-font($name)
{
  font-family: $name, sans-serif;
  //font-weight: normal;
  letter-spacing: 0;
}

/*
 * sample_usage.scss


@include register-font('Chunkfive');

#logo
{
  @include use-registered-font('Chunkfive');
}
 */
//------------------------font size
/// Given a font size in pixels, reproduces that font size in rems.

/// @param {Length} $size - Font size
/// @example scss - Usage
///   .foo {
///     @include font-size(16px);
///   }
/// @example css - Result
///   .foo {
///     font-size: 16px;
///     font-size: 1rem;
///   }
@mixin font-size($size) {
  @if unitless($size) {
    $size: $size * 1px;
  }

  font-size: $size;
  font-size: ($size / $base-font-size) * 1rem;
}
//------------------------ Background size helper
//Usage
///   .foo {
///     @include background-size(100%);
///   }
@mixin background-size($width, $height: $width) {
  @include prefix(background-size, $width $height, 'webkit' 'moz');
}