.prepay {
  &.container-left {

  }
  &.container-right {
    padding-bottom: 80px;
    @include media('tablet-wide') {
      width: 255px;
    }
  }
  .user-container {
    margin-bottom: 16px;
  }
  .buttons {
    width: $section-width;
    @include media('tablet-wide') {
      width: $section-desktop-width;
    }
  }
}
.prepay-form,
.delivery-form {
  margin-bottom: 16px;
}
.text-input {

}
.text-inputs {
  display: flex;
  justify-content: space-between;
  .text-input {
    width: 49%;
  }
}
.prepay-info {
  background-color: $grey;
  @include border-radius(16px);
  &--line {
    width: 100%;
    border-bottom: 1px solid $grey-container-border;
    display: none;
    text-align: left;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      display: flex;
      border-bottom: none;
    }
    @include media('tablet-wide') {
      display: flex;
      &:first-child {
        font-weight: bold;
        border-bottom: 1px solid $grey-container-border;
      }
    }
  }
  &--title {
    flex: auto;
  }
  &--value {
    flex: none;
    width: 25%;
    text-align: right;
  }
}

.delivery {
  .buttons {
    position: static;
  }
  &.container-left {
    border-top: 1px solid $grey;
    padding-top: 18px;
  }
  .buttons {
    width: $section-width;
    @include media('tablet-wide') {
      width: $section-desktop-width;
    }
  }
  &.container-right {
    padding-bottom: 80px;
    @include media('tablet-wide') {
      width: 255px;
    }
  }
  .prepay-info--line {
    display: flex;
  }
}
.delivery-title {
  width: 100%;
  h1 {
    margin-bottom: 0;
    max-width: 220px;
    @include horizontal-align;
  }
}
 .delivery-form {
   text-align: left;
   border-bottom: 1px solid $grey;
   &--title {
     font-weight: bold;
     padding-bottom: 20px;
     position: relative;
     padding-left: 38px;
   }
   .text-input {
     &:first-child {
       width: 30%;
     }
     &:last-child {
       width: 67%;
     }

   }
   &--ul {
     padding-left: 16px;
     margin-bottom: 0;
   }
   &--subtitle {
     padding-bottom: 10px;
     font-weight: bold;
     padding-top: 14px;
   }
   .text-inputs {
     &--text {
       color: $light-grey;
       width: 67%;
       font-size: 13px;
       line-height: 48px;
       height: 48px;
     }
   }

   &--number {
     position: absolute;
     width: 24px;
     height: 24px;
     @include border-radius(12px);
     color: $white;
     background-color: $black;
     text-align: center;
     left: 0;
     top:0;
     font-weight: normal;
     font-size: 12px;
     line-height: 24px;
   }
   &--container {
      position: relative;
     padding: 0 15px 20px 15px;
     @include media('tablet-wide') {
        padding-left: 0;
       padding-right: 0;
     }
   }
   .user-container {
     //margin-bottom: 16px;
   }
   &--label {
     width: 100%;
     margin-bottom: 10px;
     display: block;
     height: 22px;
     margin-left: 22px;
     &:last-child {
       margin-bottom: 0;
     }
   }
   &--continue {
     .delivery-form--container {
       @include media('tablet-wide') {
         padding-left: 16px;
       }
     }
   }
   &--payment {
     .delivery-form--container {
       @include media('tablet-wide') {
         padding-left: 38px;
       }
       .quote {
         @include media('tablet-wide') {
           left: 20px;
         }
       }
     }
     .buttons {
       position: fixed;
       @include media('tablet-wide') {
         position: static;
       }
     }
   }
 }
