.caption-button {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  line-height: 20px;
}
.small-caption-button {
  border: 1px solid $black;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 3px;
  height: 20px;
  line-height: 20px;
  margin-left: 7px;
  @include border-radius(3px);
  cursor: pointer;
  @include use-registered-font('BasisGrotesquePro-Medium');
}
.product-image {
  padding: 0 15px 15px;
  position: relative;
  max-width: $section-desktop-width;
  margin: auto;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    @include border-radius(5px);
    border:1px solid $grey;
  }
  @include media('tablet-wide') {
    padding: 0 0 28px 0;
  }
}
.zoom-icon {
  width: 40px;
  height: 40px;
  background: url('../images/zoom-icon.svg') center/100% no-repeat;
  bottom: 31px;
  right: 31px;
  position: absolute;
  cursor: pointer;
}
.minus-plus-icon {
  cursor: pointer;
  @include media('tablet-wide') {
    pointer-events: none;
  }
  em {
    position: absolute;
    display: block;
    right: 0;
    top:18px;
    width: 15px;
    height: 15px;
    &::before {
      @include pseudo();
      width: 100%;
      height: 1px;
      background-color: $black;
      top:7px;
      left: 0;
    }
    @include media('tablet-wide') {
      display: none;
    }
  }
  &.active {
    em {
      &::after {
        @include pseudo();
        height: 100%;
        width: 1px;
        background-color: $black;
        left:7px;
        top:0;
      }
      @include media('tablet-wide') {
        display: none;
      }
    }
  }
}
.product-info {
  text-align: left;
  padding-bottom: 60px;
  &--header {
    height: 54px;
    line-height: 54px;
    margin: 0 0 8px 0;
    &:not(:first-child) {
      border-top: 1px solid $grey;
    }
  }
  &--text {
    padding: 0 15px 32px;
    position: relative;
    .user-avatar {
      margin-right: 5px;
    }
  }
  .user-container {
  }
}
.characteristics-list {
  padding-top: 10px;
  p {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.product-data {
  padding-top: 46px;
  &--line {
    display: flex;
    padding-bottom: 24px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &--title {
    @include use-registered-font('BasisGrotesquePro-Medium');
    width: 25%;
    flex: none;
  }
  &--value {
    &.characteristics-list {
      padding-top: 0;
      flex: auto;
    }
  }
}
.quote {
  position: absolute;
  top: 7px;
  left: 0;
  overflow: hidden;
  width: 11px;
  height: 11px;
  &::after,
  &::before {
    @include pseudo;
    top:-2px;
    left: 6px;
    width: 2px;
    height: 14px;
    opacity: 0.15;
    background-color: $black;
    transform: rotate(10deg);
  }
  &::before {
    left: 2px;
  }
}
.product {
  .buttons {
    width: $section-width;
    @include media('tablet-wide') {
      width: $section-desktop-width;
    }
  }
  .product-image {
    @include media('tablet-wide') {
      margin-top: -80px;
    }
  }

}
.product-title {
    width: 100%;
  @include media('tablet-wide') {
    left: 50%;
    padding-left: 22.5px;
    position: relative;
    text-align: left;
  }
  .caption-button {
    @include media('tablet-wide') {
      justify-content: flex-start;
      width: $section-desktop-width;
      border-bottom: 1px solid $grey;
      padding-bottom: 28px;
    }
  }
}
