.sizes {
  &--numbers {
    @include horizontal-align;
    margin-bottom: 16px;
    @include media('tablet-wide') {
      background-color: $grey;
      @include border-radius(3px);
      padding: 30px 0;
      margin-bottom: 32px;
    }
  }
  h1 {
    margin-bottom: 32px;
    max-width: $section-width;
    @include horizontal-align;
  }
  &--size-guide {
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    &::after {
      @include pseudo;
      width: 7px;
      height: 12px;
      left: -11px;
      top: 6px;
      background: url("../images/combined-shape.svg") no-repeat center/100% transparent;
    }
  }
  &--grey-text {
    color: $light-grey;
    margin-bottom: 16px;
    @include horizontal-align;
    max-width: $section-width;
    font-size: 14px;
    @include media('tablet-wide') {
      margin-bottom: 32px;
    }
  }
  .button-checkbox {
    @include border-radius(30px);
    @include horizontal-align;
    border: 1px solid $grey;
    height: 49px;
    line-height: 49px;
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    max-width: $section-width;
    @include media('tablet-wide') {
      &:hover {
        background-color: $black;
        color: $white;
        border: none;
      }
    }
    &.active {
      background-color: $black;
      color: $white;
      border: none;
    }
  }
  &--container {
    @include horizontal-align;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 355px;
    margin-bottom: 16px;
    @include media('tablet-wide') {
      width: 460px;
    }
  }
  &--item {
    border:1px solid $grey;
    @include border-radius(24px);
    height: 48px;
    line-height: 48px;
    width: 61px;
    background-color: $white;
    margin: 0 5px 10px 5px;
    cursor: pointer;
    @include media('tablet-wide') {
      width: 75px;
      margin: 0 8px 16px 8px;
      &:hover {
        background-color: $black;
        color: $white;
        border: none;
      }
    }
    &.active {
      background-color: $black;
      color: $white;
      border: none;
    }
  }
  .buttons {
    width: $section-width;
    left: 50%;
    transform: translateX(-50%);
    @include media('tablet-wide') {
      width: $section-desktop-width;
      position: relative;
    }
  }
  &--title {
    width: 220px;
  }
}
.size-guide {
  &--table {
    width: 100%;
    table-layout: fixed;
    max-width: 675px;
    margin-right: auto;
    margin-left: auto;
    tr {
      td {
        border-bottom: 1px solid $grey;
      }
    }
    th {
      font-weight: normal;
      height: 48px;
      text-align: left;
    }
    td {
      @include use-registered-font('BasisGrotesquePro-Medium');
      height: 48px;
      text-align: left;
    }
  }
}